<!DOCTYPE html>
<html>
<head>
	<title>Wolf Mamba Official Website</title>
</head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/style.css">
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="img/name.png" class="logo"></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="#shop" class="link">SHOP</a>
		<a href="#vip" class="link">VIP</a>
      </li>
    </ul>
  </div>
  <img src="img/wolf_logo.png" class="logo">
</nav>
	<div class="text-center text-white bg-dark pt-5" id="homepage">
		<p id="heading">Wolf Mamba</p>
		<p class="mt-5">A Merch Store for Hustlers and Hard Workers</p>
	</div>
	<div class="container" id="shop">
			<div class="product text-center"><img src="img/one.png"><p style="font-weight: bold;">WM Logo-w-Shadow</p><p>Price: 450/-</p><a href="/order" class="btn btn-dark">Order</a></div>
			<div class="product text-center"><img src="img/two.JPG"><p style="font-weight: bold; margin-top: 15px;">WM Logo-w-Shadow medium</p><p>Price: 450/-</p><a href="/order" class="btn btn-dark">Order</a></div>
			<div class="product text-center"><img src="img/three.JPG"><p style="font-weight: bold; margin-top: 15px;">WM Logo-w-Shadow big</p><p>Price: 500/-</p><a href="/order" class="btn btn-dark">Order</a></div>
			<div class="product text-center"><img src="img/four.JPG"><p style="font-weight: bold; margin-top: 15px;">WM Logo-w-Shadow Center</p><p>Price: 450/-</p><a href="/order" class="btn btn-dark">Order</a></div>
			<div class="product text-center"><img src="img/five.JPG"><p style="font-weight: bold; margin-top: 15px;">WM Logo-w-Shadow</p><p>Price: 500/-</p><a href="/order" class="btn btn-dark">Order</a></div>
			<div class="product text-center"><img src="img/six.JPG"><p style="font-weight: bold; margin-top: 15px;">WM Logo Mesh</p><p>Price: 500/-</p><a href="/order" class="btn btn-dark">Order</a></div>
			<div class="product text-center"><img src="img/seven.JPG"><p style="font-weight: bold; margin-top: 15px;">WM Logo Horizontal</p><p>Price: 450/-</p><a href="/order" class="btn btn-dark">Order</a></div>
			<div class="product text-center"><img src="img/eight.JPG"><p style="font-weight: bold; margin-top: 15px;">WM Logo Vertical</p><p>Price: 450/-</p><a href="/order" class="btn btn-dark">Order</a></div>
			<div class="product text-center"><img src="img/eleven.JPG"><p style="font-weight: bold; margin-top: 15px;">WM Logo Center</p><p>Price: 450/-</p><a href="/order" class="btn btn-dark">Order</a></div>
			<div class="product text-center"><img src="img/twelve.JPG"><p style="font-weight: bold; margin-top: 15px;">WM Logo left</p><p>Price: 450/-</p><a href="/order" class="btn btn-dark">Order</a></div>
			<div class="product text-center"><img src="img/mask.png"><p style="font-weight: bold; margin-top: 15px;">WM Face Mask</p><p>Price: 90/-</p><a href="/order" class="btn btn-dark">Order</a></div>
	</div>
	<br><br>
	<div id="vip" class="bg-dark text-white text-center">
		<div id="img" class="container">
			<p id="vip_heading">WMAMBA VIP Membership</p><br>
			<img src="img/wolf_logo_vip.png" class="logo ">
			<p>Wolf Mamba VIP Membership is an offer that will take you to the <span class="text-info">#MAMBIAN</span> community where you'll learn new things and surround yourself with other hustlers and hard workers from different parts. Not only we'll discuss matter but will also do giveaways, donations and other EXQUISITE activities.</p><br>
			<p class="text-info">First 10 VIP Members will get:</p>
			<ul class="list-unstyled">
				<li>1 Wolf Mamba Mask</li>
				<li>100Rs Giveaway</li>
				<li>2 Days Continue Social Media Shoutout</li>
			</ul>
			<p>VIP Membership Price: <span>200Rs</span></p>
			<a href="/vip" class="btn btn-info">I Want to Join WMamba VIP</a>
		</div>
	</div>
	<footer class="bg-light text-dark text-center">
		<p>Wolf Mamba @ 2020</p>
		<p>All Rights Reserved</p>
	</footer>
</body>
</html>