<!DOCTYPE html>
<html>
<head>
	<title>Wolf Mamba Official Website</title>
</head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="img/name.png" class="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="index.html#shop" class="link">SHOP</a>
		<a href="index.html#vip" class="link">VIP</a>
      </li>
    </ul>
  </div>
  <img src="img/wolf_logo.png" class="logo">
</nav>
<div class="container text-center mt-5">
	<form method="post" action="/order">
    <div class="container">
      <input type="text" name="name" placeholder="Username...." required class="form-control"><br>
      <input type="email" name="email" placeholder="E-Mail...." required class="form-control"><br>
      <input type="text" name="zipcode" placeholder="Zip Code...." required class="form-control"><br>
      <input type="text" name="house_no" placeholder="House No...." required class="form-control"><br>
      <input type="text" name="city" placeholder="City...." required class="form-control"><br>
      <input type="text" name="landmark" placeholder="Landmark...." required class="form-control"><br>
      <input type="text" name="phone_no" placeholder="Phone Number...." required class="form-control"><br>
      <button class="btn btn-dark">Place Order</button>
    </div>
  </form>
</div>
</body>
</html>